rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /cohorts/{cohortId} {
      allow read, write: if true;
    }

    match /classes/{classId} {
      allow read, write: if true;
    }

    match /students/{studentId} {
      allow read, write: if true;
    }

    match /attendance/{attendanceId} {
      allow read, write: if true;
    }

    match /uploaded_files/{fileId} {
      allow read, write: if true;
    }

    match /campaigns/{campaignId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
